.container {
    display: flex;
    width: 100%;
    border-style: inset;
}

.input {
    border: none;
    padding: 4px 8px;
    width: 100%;
    font-size: small;
    background-color: white;
    padding-left: 40px;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
}
