.container {
    min-width: 200px;
    margin: 20px 20px;
    flex-wrap: wrap;
    position: relative;
    background-color: var(--white);
    cursor: pointer;
}

.container > img {
    width: 98%;
    box-shadow: 5px 5px 2px black;
    border-radius: 5px;
    border: 2px solid black;
}

.movie_info {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    box-shadow: 1px 1px 5px 2px black;
}

.movie_title {
    display: flex;
    letter-spacing: 2px;
    margin: auto;
    width: 100%;
    padding: 5px;
    font-size: 10px;
    text-align: center;
    min-height: 50px;
    justify-content: center;
    align-items: center;
}

.vote_average {
    width: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
    color: #ef4f69;
    background-color: var(--blue);
    border: 2px solid var(--purple);
    border-radius: 20%;
    padding: 5px;
    text-align: center;
}

.movie_overview {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    text-transform: none;
    padding: 20px;
    text-align: start;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 100;
    border: 1px solid black;
    width: 100%;
    background: var(--blue);
    min-height: 290px;
    border-radius: 5px;
}
.btn {
    display: flex;
    align-items: stretch;
    text-transform: uppercase;
    text-align: center;
    justify-content: space-between;
}
.watch {
    font-size: 20px;
    color: red;
    background-color: white;
    width: 50%;
    border-right: 2px solid black;
    border-top: 1px solid black;
}
.more_info {
    font-size: 20px;
    color: var(--purple);
    width: 50%;
    background-color: white;
    border-left: 2px solid black;
    border-top: 1px solid black;
    cursor: pointer;
}

