.container {
    background-color: var(--white);
    display: flex;
    line-height: 64px;
    align-items: center;
    justify-content: space-between;
}

.left {
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.right {
    justify-content: space-between;
    align-items: center;
}

.auth {
    display: flex;
    align-items: center;
}

.auth i {
    color: var(--purple);
    font-size: 40px;
    position: relative;
    right: -10px;
}
.auth p {
    border: 1px solid var(--purple);
    line-height: 30px;
    padding: 0px 20px;
    background-color: var(--blue);
    color: var(--purple);
    letter-spacing: 1px;
    border-radius: 5px;
    margin-right: 20px;
}

.logo {
    cursor: pointer;
    font-size: 50px;
    margin-left: 30px;
    color: rgb(247, 247, 247);
}
.logo a {
    color: var(--purple);
    text-decoration: none;
    text-shadow: 2px 2px 1px black;
}

.btn {
    margin-right: 20px;
    text-decoration: none;
    border: none;
    text-align: center;
    border: 1px solid var(--purple);
    border-radius: 12px;
    line-height: 80%;
    cursor: pointer;
    background-color: var(--blue);
    color: black;
}

.btn a {
    color: var(--purple);
    text-decoration: none;
}

.btn p {
    font-size: large;
    text-transform: capitalize;
    margin: 10px 20px;
}

.controller {
    line-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: capitalize;
}

.controller a {
    text-decoration: none;
    color: black;
}

.store {
    cursor: pointer;
}

.wallet {
    cursor: pointer;
}

.docs {
    cursor: pointer;
    text-transform: none;
    letter-spacing: 1px;
}
