@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Alfa Slab One', cursive;
}

:root {
    --white: rgb(242,242,242);
    --white-text: rgb(290,290,290);
    --purple: #720F92;
    --light-purple: #CBC3E3;
    --blue: #e8f0fe
}
