.add_box {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    width: 50%;
    align-self: center;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(50%, 10%);
    border-style: ridge;
    padding: 10px;
}

.add_box textarea {
    border: inset;
    min-height: 200px;
    margin: 10px 0px;
    padding: 20px 10px 10px;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

.add_box button {
    width: 30%;
    text-transform: capitalize;
    padding: 2px;
    opacity: 50%;
    background-color: white;
    align-self: flex-end;
    cursor: pointer;
}

.add_box_title {
    margin-top: 10px;
    display: flex;
    width: 100%;
    padding: 10px;
}

.add_box p {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: medium;
    cursor: pointer;
}
